@host {
  * {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
  }
  * > input {
    background: transparent;
    display: inline-block;
    height: inherit;
    width: 100%;
    color: inherit;
    font-size: inherit;
    border: 0;
    resize: none;
    cursor: default;
  }
  * > textarea:focus, * > input:focus{
    outline: 0;
  }
  * > .checkbox {
    cursor: pointer;
    display: inline-block;
  }
  * > .checkbox:after {
    content: "☒";
    font-size: 180%;
    line-height: 70%;
    margin-left: -30%;
  }
  * > .checkbox.true:after {
    content: "☑";
  }

  * > .half-width {
    width: calc(50% - 1px);
    margin-right: 1px;
  }
  * > .third-width {
    width: calc(33.5% - 1px);*/
    margin-right: 1px;
  }
  * > .quarter-width {
    width: calc(25% - 1px);
    margin-right: 1px;
  }
  * > #blocker {
    display: inline-block;
    height: inherit;
    width: auto;
    position: absolute;
    top:0;
    left: 0;
  }
}